<div class="product__main">
    {{#with product}}
    <div>
        <div>
            <div>
                <img src="{{img}}" alt="">
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <h2>{{desc}}</h2>
                </div>
                <div>
                    <div>
                        <div>
                            <span>{{rate}}</span>
                        </div>
                        <div>
                            <span>179</span>
                            <span>Đánh Giá</span>
                        </div>
                        <div>
                            <span>{{sold}}</span>
                            <span>Đã Bán</span>
                        </div>
                    </div>
                    <div>
                        {{price}}
                    </div>
                </div>
            </div>
            <div>
                <div></div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    {{/with}}
</div>